$about-width: 45vw;
$about-margin: 3vw;
$about-border: 1px solid #ffffffd7;

@keyframes fideIn {
  0% {
    opacity: 0;
    width: 100vw;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    width: $about-width;
  }
}

.intro {
  width: 100vw;

  display: block;

  margin-top: 10vh;
  font-family: "deyihei";

  font-size: 100%;
  text-align: center;
  opacity: 1;

  color: rgba(255, 255, 255, 0.66);

  .left {
    margin: $about-margin;
    width: $about-width;
    height: auto;

    text-align: left;
    display: block;
    animation: fideIn 1s ease-in-out;

    /*     border: $about-border;
 */
    margin-right: auto;
  }

  .right {
    position: relative;

    margin: $about-margin;
    width: $about-width;
    height: auto;

    text-align: right;
    animation: fideIn 2s ease-in-out;

    /*     border: $about-border;
 */
    margin-left: auto;
  }

  .left2 {
    position: relative;

    width: $about-width;
    text-align: left;

    animation: fideIn 3s ease-in-out;
    /* 
    border: $about-border; */
    margin: $about-margin;
  }

  a {
    color: #ffffffd7;
  }

  h1 {
    font-size: calc(3vw + 1.5vh);
  }
  p {
    font-size: calc(1.2vw + 1.2vh);
  }
  li {
    font-size: calc(1.2vw + 1.2vh);
  }
  h3 {
    font-size: calc(2.2vw + 1.1vh);
  }
}

.home-container {
  height: 100vh;
  display: flex;
  color: azure;
}
