.cursor {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(-50%);
    border-radius: 50%;
    background: transparent;
    pointer-events: none;
    z-index: 9999;
    border: 1px solid #fff;
  
    animation: moveCursor1 0.5s infinite alternate;
  
    transition: all 0.2s ease-out;
  }
  
  .expand {
    background: transparent;
    animation: moveCursor2 0.6s forwards;
    
  }
  
  .when-meet-a {
    scale: 2.6;
    background-color: rgba(128, 127, 216, 0.1);
    border: 1px solid rgb(143, 127, 216);
    -webkit-backdrop-filter: blur(0.5px);
    backdrop-filter: blur(0.5px);
  }
  
  @keyframes moveCursor1 {
    from {
      transform: scale(1.2);
    }
  
    to {
      transform: scale(1);
    }
  }
  
  @keyframes moveCursor2 {
    0% {
      transform: scale(1);
      border: 1px solid #fff;
    }
  
    50% {
      transform: scale(3.4);
      border: 1px solid rgb(158, 145, 219);
      background-color: rgba(128, 127, 216, 0.1);
      -webkit-backdrop-filter: blur(2px);
      backdrop-filter: blur(2px);
    }
    100% {
      transform: scale(1);
      border: 1px solid #fff;
      // opacity: 0;
    }
  }
  
  //如果设备不用鼠标操控
  @media (hover: none) {
   .cursor {
      display: none;
    }
  }