@font-face {
  font-family: "deyihei";
  src: url("../assets/SmileySans-Oblique.ttf") format("truetype"); /* 指定多种字体格式以兼容不同浏览器*/

  font-weight: normal;
  font-style: normal;
}

@keyframes colorBreathe {
  0% {
    color: #ffffff09;
  }
  50% {
    color: rgba(255, 255, 255, 0.781);
  }
  100% {
    color: #ffffff09;
  }
}

@keyframes sizeBreathe {
  0% {
    transform: scale(0.99);
  }
  50% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(0.99);
  }
}
@keyframes FadeInSizeBig {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  42% {
    transform: scale(1);
    opacity: 1;
  }
}

a {
  text-decoration: none;
}

p {
  text-decoration: none;
  color: #ffffff8f;
  font-family: "deyihei";

  letter-spacing: 3px;
  font-size: auto;

  animation: colorBreathe 4s infinite;
}

.aboutus {
  text-align: center;
  margin-top: auto;

  height: auto;
  width: auto;
  max-width: 99%;
  max-height: 16vh;

  bottom: 4%;
  margin: auto;

  position: fixed;
  bottom: 0;
}

.logo {
  margin-top: -4%;
  height: auto;
  width: auto;
  max-width: 70%;
  max-height: 70%;

  animation: sizeBreathe 12s infinite;
}

.github-link {
  background-image: linear-gradient(136deg, #ba5ed67a, #658ee777);
  border-radius: 12px;
}

.set-center {
  margin-top: 10%;
  display: flex; /* 使用flex布局 */
  flex-direction: column; /* 设置flex方向为垂直 */
  align-items: center; /* 水平居中 */
  justify-content: center; /* 垂直居中 */
  height: auto;
  width: auto;
  max-width: 100vw;
  max-height: 100vh;
}

.左上logo {
  margin: 1%;
  height: auto;
  width: auto;
  max-width: 20%;
  max-height: 16%;
}

.分割线 {
  width: 99%;
  height: auto;
  max-height: 4.8px;
  opacity: 0.4;
}

$btn-max-width: 30vw;
$btn-max-height: 30vh;

.btns {
  display: flex;
  margin-top: 25vh;
  .btn-left {
    margin-right: 8vw;

    animation: FadeInSizeBig ease-in-out;
    animation-timeline: view();
    // animation-range: entry 0;

    height: auto;
    width: auto;
    max-width: $btn-max-width;
    max-height: $btn-max-height;
  }
  .btn-right {
    margin-left: 8vw;

    animation: FadeInSizeBig ease-in-out;
    animation-timeline: view();
    // animation-range: entry 0;

    height: auto;
    width: auto;
    max-width: $btn-max-width;
    max-height: $btn-max-height;
  }
}
