.rootbox {
  height: 200vh;
  /* 让页面可以滚动 */
  overflow-x: hidden;
  /* 防止水平滚动条出现 */
}

.box {
  width: auto;
  min-height: 10vh;
  color: aliceblue;
  font-size: 3vw;

  img {
    filter: invert(90%);
    width: max(calc(700 * min(100vw, 2560px) / 1470), 350px);
    height: auto;
  }
}

.logo-box {
  font-family: deyihei;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 20vw;
  min-height: 20vh;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-items: center;
}