*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    background-color: #0a090a;
    /* 隐藏滚动条 */
    scrollbar-width: none;
}

@font-face {
    font-family: 'deyihei';
    src: url("./assets/font/SmileySans-Oblique.ttf");
}