* {
  margin: 0;
  padding: 0;
}

:root {
  /* background-color: #0f0f0f; */
  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    url('./assets/leather-texture.png');
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
}


/* 禁用滚动条 */
body::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: deyihei;
  src: url("./assets/font/SmileySans-Oblique.ttf");
}

a {
  text-decoration: none;
  cursor: pointer;
}
